In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline
import numpy as np

In [17]:
census = pd.read_csv("C:/Users/maria/OneDrive - Scandizzo & Partner, LLC/Education/Python/EDX Courses/Data 210/Module2/Datasets/census.data",
                  names= ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'])

In [18]:
census.head()

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K

In [19]:
census.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [20]:
census['capital-gain'] = pd.to_numeric(census['capital-gain'], errors='coerce')

In [21]:
census['capital-gain'].fillna(value = 0, inplace=True)

In [22]:
census.head()

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,0.0,White,0,13,Male,<=50K
2,HS-grad,38,0.0,White,0,40,Male,<=50K
3,11th,53,0.0,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K

## Modify categorical fields
------------------------------------------

In [23]:
educacion = set(census['education'])
raza = set(census['race'])
clasificacion = set(census['classification'])
print(educacion)
print(raza)
print(clasificacion)

{'Preschool', 'Bachelors', '7th-8th', 'Some-college', 'Doctorate', 'HS-grad', '5th-6th', '12th', '10th', '1st-4th', 'Masters', '9th', '11th'}
{'White', 'Black', 'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Other'}
{'<=50K', '>50K'}

In [24]:
edu_rank =['Preschool','1st-4th','5th-6th','7th-8th','9th','10th','11th','12th','HS-grad','Some-college',
           'Bachelors','Masters','Doctorate']
clasi_rank = ['<=50K', '>50K']

In [25]:
census['education_cat'] = census['education'].astype("category", ordered=True,
  categories=edu_rank).cat.codes
census['classi_cat'] = census['classification'].astype("category", ordered=True,
  categories=clasi_rank).cat.codes

## Creating one hot categorical fields 
----------------------------------------------------

In [26]:
census = pd.get_dummies(data= census, columns= ['race'])

In [27]:
census

,education,age,capital-gain,capital-loss,hours-per-week,sex,classification,education_cat,classi_cat,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,Bachelors,39,2174.0,0,40,Male,<=50K,10,0,0,0,0,0,1
1,Bachelors,50,0.0,0,13,Male,<=50K,10,0,0,0,0,0,1
2,HS-grad,38,0.0,0,40,Male,<=50K,8,0,0,0,0,0,1
3,11th,53,0.0,0,40,Male,<=50K,6,0,0,0,1,0,0
4,Bachelors,28,0.0,0,40,Female,<=50K,10,0,0,0,1,0,0
5,Masters,37,0.0,0,40,Female,<=50K,11,0,0,0,0,0,1
6,9th,49,0.0,0,16,Female,<=50K,4,0,0,0,1,0,0
7,HS-grad,52,0.0,0,45,Male,>50K,8,1,0,0,0,0,1
8,Masters,31,14084.0,0,50,Female,>50K,11,1,0,0,0,0,1
9,Bachelors,42,5178.0,0,40,Male,>50K,10,1,0,0,0,0,1
10,Some-college,37,0.0,0,80,Male,>50K,9,1,0,0,1,0,0
11,Bachelors,30,0.0,0,40,Male,>50K,10,1,0,1,0,0,0
12,Bachelors,23,0.0,0,30,Female,<=50K,10,0,0,0,0,0,1
13,7th-8th,34,0.0,0,45,Male,<=50K,3,0,1,0,0,0,0
14,HS-grad,25,0.0,0,35,Male,<=50K,8,0,0,0,0,0,1
15,HS-grad,32,0.0,0,40,Male,<=50K,8,0,0,0,0,0,1
16,11th,38,0.0,0,50,Male,<=50K,6,0,0,0,0,0,1
17,Masters,43,0.0,0,45,Female,>50K,11,1,0,0,0,0,1
18,Doctorate,40,0.0,0,60,Male,>50K,12,1,0,0,0,0,1
19,HS-grad,54,0.0,0,20,Female,<=50K,8,0,0,0,1,0,0
20,9th,35,0.0,0,40,Male,<=50K,4,0,0,0,1,0,0
21,11th,43,0.0,2042,40,Male,<=50K,6,0,0,0,0,0,1
22,HS-grad,59,0.0,0,40,Female,<=50K,8,0,0,0,0,0,1
23,Bachelors,56,0.0,0,40,Male,>50K,10,1,0,0,0,0,1
24,HS-grad,19,0.0,0,40,Male,<=50K,8,0,0,0,0,0,1
25,Some-college,54,0.0,0,60,Male,>50K,9,1,0,1,0,0,0
26,HS-grad,39,0.0,0,80,Male,<=50K,8,0,0,0,0,0,1
27,HS-grad,49,0.0,0,40,Male,<=50K,8,0,0,0,0,0,1
28,Some-college,20,0.0,0,44,Male,<=50K,9,0,0,0,1,0,0
29,Bachelors,45,0.0,1408,40,Male,<=50K,10,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0.0,0,55,Male,<=50K,8,0,0,0,0,0,1
29507,10th,32,0.0,0,40,Male,<=50K,5,0,0,0,0,0,1
29508,Some-college,22,0.0,0,40,Male,<=50K,9,0,0,0,0,0,1
29509,HS-grad,31,0.0,0,40,Female,<=50K,8,0,0,0,0,0,1
29510,HS-grad,29,0.0,0,35,Female,<=50K,8,0,0,0,0,0,1
29511,Bachelors,35,0.0,0,55,Female,>50K,10,1,0,0,0,0,1
29512,Bachelors,30,0.0,0,99,Female,<=50K,10,0,0,1,0,0,0
29513,Doctorate,34,0.0,0,60,Male,>50K,12,1,0,0,0,0,1
29514,Bachelors,54,0.0,0,50,Male,>50K,10,1,0,1,0,0,0
29515,Some-college,37,0.0,0,39,Female,<=50K,9,0,0,0,0,0,1
29516,12th,22,0.0,0,35,Male,<=50K,7,0,0,0,1,0,0
29517,Bachelors,34,0.0,0,55,Female,>50K,10,1,0,0,0,0,1
29518,HS-grad,30,0.0,0,46,Male,<=50K,8,0,0,0,1,0,0
29519,Bachelors,38,15020.0,0,45,Female,>50K,10,1,0,0,1,0,0
29520,Doctorate,71,0.0,0,10,Male,>50K,12,1,0,0,0,0,1
29521,HS-grad,45,0.0,0,40,Female,<=50K,8,0,0,0,0,0,1
29522,HS-grad,41,0.0,0,32,Female,<=50K,8,0,0,0,1,0,0
29523,HS-grad,72,0.0,0,25,Male,<=50K,8,0,0,0,0,0,1
29524,Masters,31,0.0,0,30,Female,<=50K,11,0,0,0,0,1,0
29525,HS-grad,43,0.0,0,40,Male,<=50K,8,0,0,0,0,0,1
29526,Some-college,43,0.0,0,40,Female,<=50K,9,0,0,0,0,0,1
29527,Some-college,43,0.0,0,50,Male,<=50K,9,0,0,0,0,0,1
29528,10th,32,0.0,0,40,Male,<=50K,5,0,1,0,0,0,0
29529,Masters,32,0.0,0,11,Male,<=50K,11,0,0,1,0,0,0
29530,Masters,53,0.0,0,40,Male,>50K,11,1,0,0,0,0,1
29531,Some-college,22,0.0,0,40,Male,<=50K,9,0,0,0,0,0,1
29532,HS-grad,40,0.0,0,40,Male,>50K,8,1,0,0,0,0,1
29533,HS-grad,58,0.0,0,40,Female,<=50K,8,0,0,0,0,0,1
29534,HS-grad,22,0.0,0,20,Male,<=50K,8,0,0,0,0,0,1
29535,HS-grad,52,15024.0,0,40,Female,>50K,8,1,0,0,0,0,1